<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NOV2022POMTEST">
  <test thread-count="5" name="NOV2022POMTEST">
    <classes>
      <class name="sampleScripts.POMExample"/>
      <class name="sampleScripts.TestExampleAnnotations"/>
      <class name="sampleScripts.TestNGExample"/>
      <class name="sampleScripts.TestNGExample2"/>
      <class name="sampleScripts.LoginToFaceBookApplication"/>
      <class name="sampleScripts.TestPriotity"/>
      <class name="sampleScripts.TestingDependsOn"/>
    </classes>
  </test> <!-- NOV2022POMTEST -->
</suite> <!-- NOV2022POMTEST -->
