<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="sampleScripts.POMExample"/>
      <class name="sampleScripts.TestExampleAnnotations"/>
      <class name="sampleScripts.TestNGExample"/>
      <class name="sampleScripts.TestNGExample2"/>
      <class name="sampleScripts.LoginToFaceBookApplication"/>
      <class name="sampleScripts.TestPriotity"/>
      <class name="sampleScripts.TestingDependsOn"/>
      <class name="DataBaseConnection.jdbcconnection"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
